name: Docker Image CI

on:
  schedule:
    - cron: '00 4 * * 6'

  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:

  build:

    #runs-on: ubuntu-latest
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    
    - name: Set up QEMU
      uses: docker/setup-qemu-action@v2
    
    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v2
    
    - name: Login to Docker Hub
      if: github.event_name != 'pull_request'
      uses: docker/login-action@v2
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}
    
    - name: Build and push (fpm)
      uses: docker/build-push-action@v4
      with:
        context: .
        target: fpm
        platforms: linux/amd64,linux/arm64
        push: ${{ github.event_name != 'pull_request' }}
        tags: developeregrem/fewohbee-phpfpm:latest

    - name: Build and push (cli)
      uses: docker/build-push-action@v4
      with:
        context: .
        target: cli
        platforms: linux/amd64,linux/arm64
        push: ${{ github.event_name != 'pull_request' }}
        tags: developeregrem/fewohbee-phpcli:latest
